h1,
h2,
h3 {
  color: white;
  background-color: var(--color__grey);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 5px;
  padding-bottom: 3px;
  display: block;
  margin-bottom: var(--gap__medium);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 i,
h2 i,
h3 i {
  padding: 0 20px;
  font-size: 12px;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
  justify-content: center;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 5px;
}

.basics {
  grid-area: basics;
}
.basics__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 10px;
}
.basics__content div {
  height: 35px;
  border-bottom: 1px solid black;
}
.basics label {
  font-size: 0.7rem;
}
.basics__description {
  height: 35px;
  border-bottom: 1px solid black;
}

.attribute {
  grid-area: attribute;
}
.attribute__content {
  display: flex;
  justify-content: space-between;
}

.attribut {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  background-color: var(--color__grey);
  border-radius: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.attribut p {
  padding: 5px;
}
.attribut div {
  width: 40px;
  height: 40px;
  border: 2px solid var(--color__grey);
  border-radius: 80px;
  background-color: white;
}

.fertigkeiten {
  grid-area: fertigkeiten;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fertigkeiten__container {
  display: flex;
  flex-direction: column;
  gap: var(--gap__small);
}

.fertigkeit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fertigkeit div {
  border: 1px solid var(--color__grey);
  height: var(--height__value);
  width: 50px;
  border-radius: 5px;
}

.talente {
  grid-area: talente;
}
.talente__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--gap__small) var(--gap__medium);
}
.talente__container div {
  min-height: var(--height__value);
  border-bottom: 1px solid black;
}

.merkmale {
  grid-area: merkmale;
}
.merkmale__container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  gap: 5px 15px;
}
.merkmale__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.merkmale__element div {
  height: 25px;
  width: 50px;
  border: 1px solid black;
  border-radius: 5px;
}
.merkmale__dots {
  display: flex;
  align-items: center;
  gap: 5px;
}

.inventar {
  grid-area: inventar;
}
.inventar__label {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  gap: 5px;
  font-size: 0.7rem;
}
.inventar__items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}
.inventar__item {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  height: 30px;
  gap: 5px;
}
.inventar__item div {
  border: 1px solid black;
  border-radius: 5px;
}
.inventar__sonstiges {
  height: 150px;
  border: 1px solid black;
}
.inventar__geld {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
  justify-content: space-between;
  align-items: center;
  gap: 5px 10px;
  margin-bottom: 10px;
}
.inventar__geld .value-box {
  width: 100%;
}
.inventar__vorraete-label {
  grid-column: 1/span 1;
}
.inventar__vorraete-value {
  grid-column: 2/span 5;
}

* {
  --color__text: rgb(0, 0, 0);
  --color__background: white;
  --color__grey: rgb(71, 71, 71);
  --height__value: 25px;
  --gap__small: 5px;
  --gap__medium: 15px;
  --gap__big: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color__text);
  scroll-behavior: smooth;
  background-color: grey;
  font-size: 14px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  height: 1189px;
  width: 841px;
  margin: 0 auto;
  padding: 30px 50px;
  background-color: var(--color__background);
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "basics basics basics" "attribute attribute attribute" "fertigkeiten inventar inventar" "fertigkeiten talente talente" "fertigkeiten merkmale merkmale";
  gap: 20px;
}

.invisible {
  display: none;
}

.text-center {
  text-align: center;
}

.value-box {
  width: 50px;
  height: 27px;
  border: 1px solid black;
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
