@import "./elemente/headings.scss";
@import "./elemente/label";
@import "./elemente/input.scss";
@import "./elemente/main.scss";

@import './attribute.scss';
@import './fertigkeiten.scss';
@import './talente.scss';
@import './nachteile.scss';
@import './merkmale.scss';
@import './inventar.scss';

* {
    --color__text: rgb(0, 0, 0);
    --color__background: white;
    --color__grey: rgb(71, 71, 71);
    --height__value: 25px;
    --gap__small: 5px;
    --gap__medium: 15px;
    --gap__big: 30px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--color__text);
    scroll-behavior: smooth;
    background-color: grey;
  
    font-size: 15px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .invisible {
    display: none;
  }
  
  .text-center {
    text-align: center;
  }
  
  .value-box {
    width: 50px;
    height: 27px;
    border: 1px solid black;
    border-radius: 5px;
  }