.fertigkeiten {
    grid-area: fertigkeiten;
    display: grid;
    grid-template-columns: 1fr;

    &__container {
        display: flex;
        flex-direction: column;
        gap: var(--gap__small);
    }
}

.fertigkeit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: var(--gap-medium);

    div {
        border: 1px solid var(--color__grey);
        height: var(--height__value);
        width: 50px;
        border-radius: 5px;
    }
}