.nachteile {
    grid-area: nachteile;

    &__container {
        display: flex;
        flex-direction: column;
        gap: var(--gap__small);

        div {
            height: var(--height__value);
            border-bottom: 1px solid black;
        }
    }
}