.talente {
  grid-area: talente;

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--gap__small) var(--gap__medium);

    div {
      min-height: var(--height__value);
      border-bottom: 1px solid black;
    }
  }
}
